<!DOCTYPE html>

<html>

	<head>
		<meta name="viewport" content="width=device-width" />
		<title>用户管理</title>
		<link rel="stylesheet" href="../../../../lib/iview-4.0.1/styles/iview.css">
		<link rel="stylesheet" href="http://192.168.60.107:8080/css/style.css">
	</head>

	<body>
		<div class="userList-page" id="userList">
			<div style="margin: 10px">
				显示边框 <i-switch v-model="showBorder" style="margin-right: 5px"></i-switch>
				显示条纹 <i-switch v-model="showStripe" style="margin-right: 5px"></i-switch>
				显示索引 <i-switch v-model="showIndex" style="margin-right: 5px"></i-switch>
				显示多选框 <i-switch v-model="showCheckbox" style="margin-right: 5px"></i-switch>
				显示表头 <i-switch v-model="showHeader" style="margin-right: 5px"></i-switch>
				显示滚动条 <i-switch v-model="fixedHeader" style="margin-right: 5px"></i-switch>
				<br>
				<br>
				表格大小
				<Radio-group v-model="tableSize" type="button">
					<Radio label="large">大</Radio>
					<Radio label="default">中(默认)</Radio>
					<Radio label="small">小</Radio>
				</Radio-group>
			</div>

			<div class="actionZone">
				<div class="search">
					<i-input v-model="dataName" placeholder="请输入名字" clearable class="search-name"></i-input>
					<i-input v-model="dataLoginId" placeholder="请输入账号" clearable class="search-loginid"></i-input>
					<i-button @click="getAllUser">搜索</i-button>
				</div>
				<div>
					<Upload 
					type="drag" 
					:format="['jpg','jpeg','png']" 
					:max-size="2048" 
					:before-upload="handleBeforeUpload"
					 multiple 
					 :action="action"
					 >
						<div style="padding: 20px 0">
							<Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
							<p>点击上传图片</p>
						</div>
					</Upload>
					<i-button @click="createUser">新增</i-button>
				</div>
			</div>
			<i-table :border="showBorder" :stripe="showStripe" :show-header="showHeader" :height="fixedHeader ? 300 : ''" :size="tableSize"
			 :data="userData" :columns="tableColumns3"></i-table>
			<Page :total="dataCount" show-sizer show-total :page-size="pageSize" @on-change="changepage" @on-page-size-change="changePageSize"
			 :page-size-opts="pageArr" />
		</div>
	</body>
</html>

<script src="../../../../js/jquery/jquery.min.js"></script>
<script src="../../../../js/vue/vue.js"></script>
<script src="../../../../js/reconnecting-websocket/reconnecting-websocket.min.js"></script>
<script src="../../../../lib/iview-4.0.1/iview.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
<script type="module" src="http://192.168.60.107:8080/js/source/user/userList.js"></script>
