<!DOCTYPE html>
<html lang="en">

	<head>
		<meta name="viewport" content="width=device-width" />
		<meta charset="UTF-8">
		<title>用户登录</title>
		<script src="../../js/vue/vue.js"></script>
		<script src="../../lib/iview-3.1.0/iview.min.js"></script>
		<link rel="stylesheet" href="../../lib/iview-3.1.0/styles/iview.css">
		<link rel="stylesheet" href="../../style/css/login.css">
		<script src="../../js/reconnecting-websocket/reconnecting-websocket.min.js"></script>
		<script src="../../js/keyboard/keyboard_shortcuts.js"></script>
	</head>


	<body>
		<div id="app" class="account-container">
			<div class="account-modal-container">
				<div class="modal"></div>
				<div class="load-bar-container">
					<div class="load-bar" v-show="loadingbar.show">
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
					</div>
				</div>
				<div class="account-signin-container">
					<h1>用户登录</h1>
					<form class="account-form">
						<div class="form-group">
							<label>
								<span>登录名:</span>
								<input type="text" placeholder="请输入登录名" v-model="loginViewModel.userName" />
							</label>
						</div>
						<div class="form-group">
							<label>
								密码:
								<input type="password" placeholder="请输入密码" v-model="loginViewModel.password" />
							</label>
						</div>
						<div class="form-group">
							<a id="btn_login" @click="handleLogin">登 录</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			const ws = new ReconnectingWebSocket("ws://127.0.0.1:3003");
			ws.onopen = function() {
				console.log("连接成功")
			}

			var vm = new Vue({
				el: "#app",
				data: function() {
					return {
						loadingbar: {
							show: false
						},
						loginViewModel: {
							userName: "zhangsan",
							password: "123456"
						}
					}
				},
				methods: {
					handleLogin: function() {
						var that = this;
						var flag = true
						if (that.loginViewModel.userName == "") {
							that.doLogin();
							that.$Message.error("账号不能为空");
							that.noLogin()
							var flag = false
							return;
						} else if (that.loginViewModel.password == "") {
							that.doLogin();
							that.$Message.error("密码不能为空");
							that.noLogin()
							var flag = false
							return;
						}
						var par = {
							"ALoginID": that.loginViewModel.userName,
							"APassWord": that.loginViewModel.password
						};
						var data = {
							Tag: "A",
							Controller: "login",
							Role: "admin",
							param: {
								obj: par
							}
						};
						if (flag) {
							ws.send(JSON.stringify(data));
							ws.onmessage = function(res) {
								that.doLogin();
								setTimeout(function() {
									that.completeLogin(JSON.parse(res.data));
								}, 2000);
							};
						}

					},
					doLogin: function() {
						this.loadingbar.show = true;
					},
					noLogin:function(){
						setTimeout(()=>{
							this.loadingbar.show = false;
						},1000)
					},
					goHtem(){
						setTimeout(()=>{
							window.location.href="index.html";
						},1000)
					},
					completeLogin: function(data) {
						if(data.length>0){
							this.loadingbar.show = false;
							this.$Message.success("登录成功");
							//设置用户TOKEN于localStorage中,系统首页依据此TOKEN来验证是否已登录
							localStorage.setItem("dnc_token", JSON.stringify(data));
							this.goHtem();
						}else if(data.length<=0){
							this.loadingbar.show = false;
							this.$Message.error("登录失败！请检查账号密码是否正确");
							return;
						}
					},
					enterClick(){
						const that=this;
						shortcut.add("Enter",function(){
							that.handleLogin();
						})
					}
				},
				created() {
					this.enterClick();
				}
			});
		</script>
	</body>
</html>
