<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="icon" href="favicon.ico">
		<title>后台管理系统</title>

		<link rel="stylesheet" href="../lib/iview-4.0.1/styles/iview.css">
		<link rel="stylesheet" href="http://192.168.60.107:8080/css/style.css">
	</head>

	<body>

		<div id="index" class="index_page" data-page="data-page">
			<div class="layout">
				<Layout>
					<Sider class="sider-left" ref="side1" hide-trigger collapsible :collapsed-width="80" v-model="isCollapsed">
						<div class="sider-logo">
							<span class="sider-logo-text">后台管理系统</span>
							<Icon class="sider-logo-icon" type="md-home" size="24"></Icon>
						</div>
						<i-menu id="sider_menu" ref="myMenu" :active-name="currentTab.name" theme="dark" width="auto" :open-names="menuState.openNames"
						 accordion :class="menuitemClasses" :style="{height:menuState.height+'px'}">
							<template v-for="submenu in menu" :key="submenu.name">
								<submenu :name="submenu.name">
									<template slot="title">
										<Icon :type="submenu.icon"></Icon>
										<span :title="submenu.title">{{submenu.title}}</span>
									</template>
									<template v-for="item in submenu.menuItem">
										<menu-item :name="item.name" @click.native="handleMenuClick(item)" :style="{paddingLeft:(!isCollapsed?43:25)+'px'}">
											<Icon :type="item.icon"></Icon>
											<span :title="item.label">{{item.label}}</span>
										</menu-item>
									</template>
								</submenu>
							</template>
						</i-menu>
					</Sider>
					<Layout>
						<i-header :style="{position: 'fixed', width: '100%'}" class="layout-header-bar">
							<i-menu mode="horizontal" theme="dark" active-name="1">
								<div class="layout-logo">
									<Icon @click.native="collapsedSider" class="menu-toggle" :class="rotateIcon" :style="{margin: '0'}" type="md-menu"
									 size="1.2rem"></Icon>
								</div>
								<div class="layout-time">
									<div class="layout-time-logo"></div>
									<div class="layout-time-txt" data-time="data-time">2019-7-7 18:20</div>
								</div>
								<div class="layout-nav" :style="{width: (isCollapsed ? 16.5 : 18.5) + 'rem'}">
									<menu-item name="1" title="内容管理">
										内容管理
									</menu-item>
									<menu-item name="2">
										用户管理
									</menu-item>
									<menu-item name="3">
										综合设置
									</menu-item>
									<Submenu name="4">
										<template slot="title">
											<div class="layout-nav-user" data-user="user-image" title="用户头像"></div>
										</template>
										<menu-group title="使用">
											<menu-item name="4-1">新增和启动</menu-item>
											<menu-item name="4-2">活跃分析</menu-item>
											<menu-item name="4-3">时段分析</menu-item>
										</menu-group>
										<menu-group title="留存">
											<menu-item name="4-4">用户留存</menu-item>
											<menu-item name="4-5">流失用户</menu-item>
										</menu-group>
									</Submenu>
									<div class="layout-nav-signout">
										<div class="layout-nav-signout-close" data-close="signout" title="登出"></div>
										<!-- <div class="layout-nav-signout-txt">登出</div> -->

									</div>
								</div>
							</i-menu>
						</i-header>
						<i-content :style="mainContentHeight">
							<tabs :type="tab.type" closable v-show="tabs.length>0" :value="currentTab.name" :animated="true" @on-click="handleTabClicked"
							 @on-tab-remove="handleTabRemoved">
								<Dropdown style="margin-left: 20px" placement="bottom-end" transfer="true" slot="extra" @on-click="handleTabDropdownClick">
									<i-button type="text" style="height:30px;">
										<Icon type="ios-arrow-down"></Icon>
									</i-button>
									<dropdown-menu slot="list">
										<dropdown-item name="close-all">
											<Icon type="md-close"></Icon> 关闭全部
										</dropdown-item>
										<dropdown-item name="close-current">
											<Icon type="ios-arrow-forward"></Icon> 关闭当前
										</dropdown-item>
										<dropdown-item name="close-others">
											<Icon type="md-arrow-forward"></Icon> 关闭其他
										</dropdown-item>
										<dropdown-item name="switch-tab-type" divided>
											<Icon type="md-swap"></Icon> 切换模式
										</dropdown-item>
									</dropdown-menu>
								</Dropdown>
								<tab-pane v-for="(tab,index) in tabs" :key="tab" :label="tab.label" :icon="tab.icon" :name="tab.name" :closable="tab.closable">
									<iframe :src="tab.href" style="border:none;width:100%;" frameborder="0" :height="frameHeight" marginheight="0"
									 scrolling="auto" marginwidth="0"></iframe>
								</tab-pane>
							</tabs>
						</i-content>
					</Layout>
				</Layout>
			</div>
		</div>

	</body>
	<link rel="import" href="../include/tpl_js_lib.html">

</html>
<script src="http://192.168.60.107:8080/js/source/fontLoading.js"></script>
<script type="module" src="http://192.168.60.107:8080/js/source/index.js"></script>
<script type="module" src="http://192.168.60.107:8080/modules/baseShellInit.js"></script>
